/* Wrapper */
/* .contactUs-wrapper {
  min-height: 100vh;
  background-color: var(--white-color);
  padding: 40px 15px;
  display: flex;
  justify-content: center;
} */

.contactUs-wrapper {
  min-height: 85vh;
  background-color: var(--white-color);
  padding: 80px 15px 20px 15px;
  display: flex;
  justify-content: center;
}

/* Title */
.contactUs-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--primary-color);
}

/* Card */
.contactUs-card {
  background-color: var(--tertiary-color);
  padding: 30px 60px;
  border-radius: 40px;
  width: 120%;
}

/* Labels */
.contactUs-label {
  font-size: 15px;
  /* color: rgba(var(--primary-color-rgb), 0.8); */
  color: black;
  margin-bottom: 6px;
  display: block;
  text-align: left;
}

/* Inputs */
.contactUs-input,
.contactUs-textarea {
  border-radius: 10px;
  border: 1px solid #5A000033 !important;
  background: transparent !important;
  width: 100%;
  padding: 10px 14px;
  font-size: 15px;
  outline: none;
}

/* Input Height */
.contactUs-input {
  height: 45px;
  margin: 10px 0px 10px 0px;
}

/* Textarea */
.contactUs-textarea {
  min-height: 120px;
  resize: none;
}

/* Focus */
.contactUs-input:focus,
.contactUs-textarea:focus {
  border: 1px solid var(--primary-color) !important;
  box-shadow: none;
}

/* Submit Button */
.contactUs-submit-btn {
  background-color: var(--primary-color);
  color: #fff;
  padding: 12px 40px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  transition: 0.3s ease;
}

.contactUs-submit-btn:hover {
  opacity: 0.9;
}

/* ================= Tablet ================= */
@media (max-width: 991px) {
  .contactUs-card {
    padding: 40px 30px;
  }
}

/* ================= Mobile ================= */
@media (max-width: 576px) {

  .contactUs-wrapper {
    padding: 25px 10px;
  }

  .contactUs-title {
    font-size: 24px;
    margin-bottom: 25px;
  }

  .contactUs-card {
    padding: 25px 18px;
    border-radius: 20px;
  }

  .contactUs-input,
  .contactUs-textarea {
    font-size: 14px;
  }

  .contactUs-input {
    height: 40px;
  }

  .contactUs-submit-btn {
    width: 100%;
    padding: 10px;
  }
}

/* ================= Get In Touch Card ================= */

.contactUs-content-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  max-width: 550px;
}

.contactUs-touch-card {
  background-color: var(--tertiary-color);
  padding: 30px 30px;
  border-radius: 40px;
  width: 120%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}

.contactUs-touch-title {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  color: var(--primary-color);
}

.contactUs-touch-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.contact-touch-section {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

.contact-icon-img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.contact-icon-svg {
  font-size: 24px;
  color: var(--primary-color);
}

.whatsapp-icon {
  color: #25D366;
}

.contact-text {
  font-family: var(--inter-font-family);
  font-size: 20px;
  font-weight: 500;
  color: #333;
}

.contact-divider-vert {
  width: 1px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 10px;
}

.error-input {
  border: 1px solid var(--primary-color) !important;
}

.error-text {
  color: var(--primary-color);;
  font-size: 12px;
  /* margin-top: 4px; */
  display: block;
}

@media (max-width: 576px) {
  .contactUs-touch-card {
    padding: 25px 18px;
    border-radius: 20px;
  }

  .contactUs-touch-title {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .contactUs-touch-row {
    flex-direction: column;
    gap: 20px;
  }

  .contact-divider-vert {
    width: 100%;
    height: 1px;
    margin: 5px 0;
  }

  .contact-touch-section {
    width: 100%;
    justify-content: center;
  }
}