.cancelation-policy-h2{
text-align: left;
font-size: 25px;
font-weight: bold;
}
.cancelation-policy-h3{
text-align: left;
font-size: 15px;
font-weight: 600;
}

.cancelation-policy-li{
    text-align: left;
}