.all-bookings-wrapper {
  margin-top: 80px;
}

.booking-tabs {
  display: flex;
  gap: 60px;
  /* border-bottom: 1px solid rgba(var(--primary-color-rgb), 0.2); */
  margin-bottom: 30px;
  justify-content: space-around;
  margin-top: -80px;
}

.tab-item {
  background: none;
  border: none;
  font-size: 18px;
  color: rgba(var(--primary-color-rgb), 0.5);
  padding-bottom: 8px;
  cursor: pointer;
  position: relative;
}

.tab-item:hover {
  color: var(--primary-color);
}

.tab-item.active {
  color: var(--primary-color);
}

.tab-item.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 3px;
  background-color: var(--primary-color);
  border-radius: 2px;
}


.booking-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  margin-left: 60px;
  margin-top: 12px;
}

.back-btn {
  background: transparent;
  border: none;
  color: var(--primary-color);
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 6px;

  padding: 6px 10px;
  border-radius: 8px;

  transition: background 0.2s ease;
}

.back-btn:hover {
  background: rgba(var(--primary-color-rgb), 0.08);
}


/* Mobile */
@media (max-width: 768px) {
  .booking-tabs {
    gap: 30px;
    margin-top: 30px;
  }

  .tab-item {
    font-size: 16px;
  }
}