

.terms-page {
  padding-top: 80px;
  padding-bottom: 25px;
  /* background-color: #f8f9fb; */
  min-height: 100vh;
}

.terms-container {
  max-width: 80%;
  margin: auto;
  padding: 0; /* REMOVE padding here */
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 18px rgba(0,0,0,0.05);
  overflow: hidden; /* keeps rounded corners clean */
}

/* Header full width */
.terms-container h1 {
  text-align: center;
  margin: 0;
  padding: 20px;
  font-size: 36px;
  background-color: var(--primary-color);
  color: white;
}

/* Content padding only */
.terms-content {
  padding: 0px 40px 40px 40px;
}

.para-intro{
    text-align: justify;
    
}

.terms-container h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
    background-color: var(--primary-color);
}

.terms-container h2 {
   text-align: left;
  margin-top: 35px;
  margin-bottom: 15px;
  font-size: 22px;
  color: #222;
}

.terms-container p {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 12px;
  /* color: #555; */
}

.terms-container ul {
  margin-left: 20px;
  margin-bottom: 15px;
}

.terms-container li {
  margin-bottom: 6px;
}
